<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <p:dialog id="dialogFases" header="Modal Dialog" widgetVar="modalConsultarFases" 
        modal="true" height="500" width="600" resizable="false" closable="true">
        <h:form id="consultarFasesDialog">  
            <p:growl id="growlConsultaFase" showDetail="false" sticky="false" />  
            <h:panelGrid>
                <p:panelGrid id="botoes" columns="2">
                    <p:commandButton actionListener="#{painelControleMBean.criarNovaFase()}" rendered="#{painelControleMBean.permitirCriarFase}" 
                    update=":form:formFases" oncomplete="PF('modalCriarFase').show()" process="@this" title="Criar Fase"/>

                    <p:commandButton actionListener="#{painelControleMBean.consultarProcesso()}" 
                    process="@this" title="Consultar Processo"/>
                </p:panelGrid>
                <p:dataTable id="consultaFasesTable" value="#{painelControleMBean.listaFases}" var="fase">
                    <p:column>
                        <h:outputText value="#{fase.titulo}"/>
                    </p:column>
                    <p:column>
                        <h:outputText value="#{fase.advogadoCriador.nome}"/>
                    </p:column>
                    <p:column>
                        <h:outputText value="#{fase.tipoFase.nome}"/>
                    </p:column>
                    <p:column>
                        <p:commandButton action="#{painelControleMBean.consultarFase()}" update=":form:formFases" 
                            oncomplete="PF('modalCriarFase').show()" process="@this" title="Consultar Fase">
                            <f:setPropertyActionListener value="#{fase}" target="#{painelControleMBean.faseProcesso}" />
                        </p:commandButton>
                        <br/>
                    </p:column>
                    <p:column>
                        <h:outputText value="#{fase.getStatusFase()}" rendered="#{!fase.necessarioParecer(painelControleMBean.usuarioLogado)}"/>
                        <p:commandButton rendered="#{fase.necessarioParecer(painelControleMBean.usuarioLogado)}" actionListener="#{painelControleMBean.darParecer()}" 
                            update=":form:formFases" oncomplete="PF('modalCriarFase').show()" process="@this" title="Dar parecer">
                            <f:setPropertyActionListener value="#{fase}" target="#{painelControleMBean.faseProcesso}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </h:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>


