<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <link type="text/css" rel="stylesheet" href="css/criaProcesso.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    </h:head>
    <h:form id="form">
        <p:growl id="growl" showDetail="false" sticky="false" />          
        <h:panelGrid columns="1" class="painelCadastro">
            <h:panelGrid style="width: 100%; text-align: center;">
                <h:outputText value="Título:"/>
                <p:inputText value="#{criaProcessoMBean.processo.nome}" class="campos" disabled="#{criaProcessoMBean.consulta}"/>
                <br/>
            </h:panelGrid>
            
            <h:panelGrid id="promovido" style="width: 100%; text-align: center;">
                <h:outputText value="Promovido:"/>
                <h:selectOneMenu value="#{criaProcessoMBean.processo.promovido}" converter="generic" class="campos" disabled="#{criaProcessoMBean.consulta}">
                    <f:selectItem itemValue="" itemLabel="Selecione"/>
                    <f:selectItems value="#{criaProcessoMBean.partes}" var="promovido" itemLabel="#{promovido.concatParteAdvogado}" itemValue="#{promovido}"/>
                </h:selectOneMenu>
                <br/>
            </h:panelGrid>

            <h:panelGrid id="promovente" style="width: 100%; text-align: center;">
                <h:outputText value="Promovente:"/>
                <h:selectOneMenu value="#{criaProcessoMBean.processo.promovente}" converter="generic" class="campos" disabled="#{!criaProcessoMBean.consulta}">
                    <f:selectItem itemValue="" itemLabel="Selecione"/>
                    <f:selectItems value="#{criaProcessoMBean.partes}" var="promovente" itemLabel="#{promovente.concatParteAdvogado}" itemValue="#{promovente}"/>
                </h:selectOneMenu>
                <br/>
            </h:panelGrid>

            <br/>
            <p:commandButton action="#{criaProcessoMBean.salvar()}" class="btn btn-primary btn-lg disabled"
                update="@form" process="@form" title="Enviar" rendered="#{!criaProcessoMBean.consulta}"/>
            <p:commandButton action="#{criaProcessoMBean.voltar()}" class="btn btn-primary btn-lg disabled"
                update="@form" process="@form" title="Voltar"/>
        </h:panelGrid>
        <ui:include id="modalUsuario" src="/criaUsuarioDialog.xhtml" />
    </h:form>
</ui:composition>

