<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <p:dialog id="faseDialog" header="Modal Dialog" widgetVar="modalCriarFase" 
        modal="true" height="600" width="800" resizable="false" closable="true">
        <h:form id="formFases">
            <p:growl id="growlFase" showDetail="false" sticky="false" />  
            <h:panelGrid>
                <h:panelGrid>
                    <h:panelGrid columns="3">
                        <h:outputText value="Título"/>
                        <p:inputText style="width:250%;" class="campos" value="#{painelControleMBean.faseProcesso.titulo}" 
                        disabled="#{!painelControleMBean.usuarioLogado.usuarioAdvogado || painelControleMBean.consulta}"/>
                        <br/>

                        <h:outputText value="Descrição"/>
                        <p:inputTextarea style="width: 250%;" class="campos" value="#{painelControleMBean.faseProcesso.descricao}" 
                        disabled="#{!painelControleMBean.usuarioLogado.usuarioAdvogado || painelControleMBean.consulta}"
                        required="true" requiredMessage="Descrição necessário"/>
                        <br/>

                        <h:outputText value="Informativa"/>
                        <p:selectBooleanCheckbox value="#{painelControleMBean.informativa}" 
                        disabled="#{!painelControleMBean.usuarioLogado.usuarioAdvogado || painelControleMBean.consulta}"/>
                        <br/>

                        <h:outputText value="Deliberativa"/>
                        <p:selectBooleanCheckbox value="#{painelControleMBean.deliberativa}" 
                        disabled="#{!painelControleMBean.usuarioLogado.usuarioAdvogado || painelControleMBean.consulta}" />
                        <br/>
                    </h:panelGrid>
                    
                    <h:panelGrid id="loadPdf" columns="1" cellspacing="0" columnClasses="centerCol">
                        <h:outputText value="PDF" />
                        <h:outputText value="" />
                        <h:outputText value=" Formatos Suportados: PDF (1,5MB)" />
                        <h:outputText value="" />
                        <p:fileUpload label="Selecionar..."
                        fileUploadListener="#{painelControleMBean.handleFileUpload}" rendered="#{empty painelControleMBean.faseProcesso.arq and !painelControleMBean.consulta}"
                        mode="advanced" multiple="false" update="pnlFoto, growlFase, loadPdf" cancelLabel="Cancelar" uploadLabel="Publicar" 
                        auto="false" sizeLimit="1500000"  invalidFileMessage="Invalido" fileLimit="1"
                        invalidSizeMessage="Arquivo muito grande"
                        allowTypes="/(\.|\/)(pdf|PDF)$/" />
                    </h:panelGrid>
                    
                    <h:panelGrid columns="1">
                        <p:commandButton value="Download" ajax="false" immediate="true">
                            <p:fileDownload value="#{painelControleMBean.file}" />
                        </p:commandButton>
                    </h:panelGrid>
                    
                    <h:panelGrid id="pnlFoto" columns="1" cellspacing="3" styleClass="atualizarAposSalvarFotos">		
                        <h:panelGrid columns="1" cellspacing="3" rendered="#{not empty painelControleMBean.event}">
                            <p:commandButton process="@this" 
                                    update="loadPdf, growlFase, pnlFoto"
                                    action="#{painelControleMBean.excluirArq(event)}"
                                    value="Excluir Arquivo">
                            </p:commandButton>
                        </h:panelGrid>
                    </h:panelGrid>
                    
                    <h:outputText value="Justificativa" rendered="#{painelControleMBean.necessitaJustificativa() || (painelControleMBean.necessitaJustificativa() and painelControleMBean.consulta)}"/>
                    <p:inputText value="#{painelControleMBean.faseProcesso.justificativa}" rendered="#{painelControleMBean.necessitaJustificativa() || painelControleMBean.consulta}"
                        disabled="#{!painelControleMBean.usuarioLogado.usuarioAdvogado || painelControleMBean.consulta}"/>    
                    <br/>                                        
                </h:panelGrid>

                <p:commandButton action="#{painelControleMBean.salvarFase()}" title="Salvar" rendered="#{painelControleMBean.usuarioLogado.usuarioAdvogado and !painelControleMBean.consulta}"
                    oncomplete="PF('modalCriarFase').hide(); PF('modalConsultarFases').hide();" process="formFases" class="btn btn-primary btn-lg disabled"
                    update=":form:consultarFasesDialog:growlConsultaFase, :form:consultarFasesDialog:consultaFasesTable, :form:consultarFasesDialog:botoes">
                    <p:ajax event="click" update=":form:consultarFasesDialog:growlConsultaFase, :form:consultarFasesDialog:consultaFasesTable, :form:consultarFasesDialog:botoes" />
                </p:commandButton>
                <br/>
                
                <h:panelGrid columns="2" rendered="#{painelControleMBean.usuarioLogado.usuarioJuiz || painelControleMBean.consulta}">
                    <p:selectOneMenu converter="generic" value="#{painelControleMBean.respostaSelecionada}" rendered="#{painelControleMBean.usuarioLogado.usuarioJuiz and !painelControleMBean.consulta}">
                        <f:selectItem itemValue="" itemLabel="Selecione"/>
                        <f:selectItems value="#{painelControleMBean.respostas}" var="resposta" itemLabel="#{resposta.nome}" itemValue="#{resposta}"/>
                        <p:ajax listener="#{painelControleMBean.buscarPartes()}" update="formFases" event="change"/>
                    </p:selectOneMenu>
                    <br/>
                    
                    <p:selectOneMenu id="selecionarUsuario" converter="generic" value="#{painelControleMBean.processoSelecionado.vencedor}"
                        rendered="#{painelControleMBean.usuarioLogado.usuarioJuiz and painelControleMBean.buscarPartes() != null}">
                        <f:selectItem itemValue="" itemLabel="Selecione"/>
                        <f:selectItems value="#{painelControleMBean.buscarPartes()}" var="vencedor" itemLabel="#{vencedor.nome}" itemValue="#{vencedor}"/>
                    </p:selectOneMenu>
                    
                    <p:commandButton action="#{painelControleMBean.salvarRespostaJuiz()}" title="Salvar" rendered="#{painelControleMBean.usuarioLogado.usuarioJuiz and !painelControleMBean.consulta}"
                        oncomplete="PF('modalCriarFase').hide(); PF('modalConsultarFases').hide();" update="@form, :form:consultarFasesDialog:consultaFasesTable" process="formFases"
                        class="btn btn-primary btn-lg disabled"/>
                </h:panelGrid>
                
                <p:commandButton action="#{painelControleMBean.limpar()}" title="Fechar" 
                    oncomplete="PF('modalCriarFase').hide();" update="@form" class="btn btn-primary btn-lg disabled"/>
            </h:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>


