<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <p:dialog id="criarUsuarioDialog" header="Modal Dialog" widgetVar="modalUsuario" 
        modal="true" height="450" width="650" resizable="false" closable="true">
        <h:form id="formUsuario">
            <p:growl id="growl" showDetail="false" sticky="false" />  
            <h:panelGrid>
                <h:panelGrid columns="4">
                    <h:outputText value="Nome"/>
                    <p:inputText value="#{criarUsuarioMBean.usuario.nome}"/>
                    
                    <h:outputText value="Login"/>
                    <p:inputText value="#{criarUsuarioMBean.usuario.login}"/>
                </h:panelGrid>    
            </h:panelGrid>
            <h:panelGrid>
                <h:panelGrid columns="4">
                    <h:outputText value="Senha"/>
                    <p:password value="#{criarUsuarioMBean.usuario.senha}"/>

                    <h:outputText value="E-mail"/>
                    <p:inputText value="#{criarUsuarioMBean.usuario.email}"/>
                </h:panelGrid>    
            </h:panelGrid>
            <h:panelGrid>
                <h:panelGrid columns="4">
                    <h:outputText value="CPF"/>
                    <p:inputText value="#{criarUsuarioMBean.usuario.cpf}"/>

                    <h:outputText value="Telefone"/>
                    <p:inputText value="#{criarUsuarioMBean.usuario.telefone}"/>
                </h:panelGrid>    
            </h:panelGrid>
            <h:panelGrid>
                <h:panelGrid columns="4">
                    <h:outputText value="Estado"/>
                    <p:selectOneMenu value="#{criarUsuarioMBean.estado}" converter="generic">
                        <f:selectItem itemValue="" itemLabel="Selecione.."/>
                        <f:selectItems value="#{criarUsuarioMBean.estados}" var="estado" itemLabel="#{estado.nome}" itemValue="#{estado}"/>
                        <p:ajax event="change" listener="#{criarUsuarioMBean.atualizarCidades()}" update="formUsuario" process="cidades"/>
                    </p:selectOneMenu>

                    <h:outputText value="Cidade"/>
                    <p:selectOneMenu id="cidades" converter="generic" value="#{criarUsuarioMBean.usuario.cidade}" disabled="#{criarUsuarioMBean.liberar}">
                        <f:selectItem itemValue="" itemLabel="Selecione"/>
                        <f:selectItems value="#{criarUsuarioMBean.cidades}" var="cidade" itemLabel="#{cidade.nome}" itemValue="#{cidade}"/>
                    </p:selectOneMenu>
                </h:panelGrid>    
            </h:panelGrid>
            <h:panelGrid>
                <h:panelGrid columns="4">
                    <h:outputText value="Advogado"/>
                    <p:selectOneMenu converter="generic" value="#{criarUsuarioMBean.usuario.advogado}">
                        <f:selectItem itemValue="" itemLabel="Selecione"/>
                        <f:selectItems value="#{criarUsuarioMBean.advogados}" var="advogado" itemLabel="#{advogado.nome}" itemValue="#{advogado}"/>
                    </p:selectOneMenu>
                </h:panelGrid>    
            </h:panelGrid>
        </h:form>
    </p:dialog>
</ui:composition>


