<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <link type="text/css" rel="stylesheet" href="css/login.css"/>
    </h:head>
    <h:form>
        <p:growl id="growl" showDetail="false" sticky="false" />  
        <p:fieldset class="painelLogin">
            <h:panelGrid columns="1" class="conteudo">
                <h:outputText value="Login"/>
                <p:inputText value="#{loginMBean.login}" class="campos"/>
            </h:panelGrid>
            <br/>
            <h:panelGrid columns="1" class="conteudo">
                <h:outputText value="Senha:"/>
                <p:password value="#{loginMBean.senha}" class="campos"/>
            </h:panelGrid>
            <br/>
            <p:commandButton value="Entrar" action="#{loginMBean.logar()}" class="botaoEntrar"/>
        </p:fieldset>
    </h:form>
</ui:composition>

