<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <h:form>
        <p:stack icon="/resources/basket3.png" expanded="true">
            <p:menuitem value="Home" icon="/resources/home.png" url="painelControle.xhtml"/>
            <p:menuitem rendered="#{painelControleMBean.usuarioLogado.usuarioAdvogado}" value="Processo" icon="/resources/processo.png" url="criaProcesso.xhtml"/>
            <p:menuitem rendered="#{!painelControleMBean.usuarioLogado.usuarioJuiz}" value="Relatório" icon="/resources/relatorio.png" url="relatorios.xhtml"/>
            <p:menuitem value="Logout" action="#{painelControleMBean.deslogar()}" icon="/resources/quit.png" url="index.xhtml"/>
        </p:stack>
    </h:form>
</ui:composition>