<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <link type="text/css" rel="stylesheet" href="css/painelControle.css"/>
        <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />
    </h:head>
    <h:form id="form">
        <p:growl id="growl" showDetail="true" sticky="false" />  
        <h:panelGroup id="painel">
            <p:panelGrid id="menu" columns="3">
                <p:commandButton icon="pi pi-arrow-right" oncomplete="PF('sidebar1').show()" />
                <p:spacer/>
                <h:outputText value="Bem-vindo #{painelControleMBean.usuarioLogado.nome}" class="bemVindo"/>
                <p:selectOneMenu class="criterios" converter="generic" value="#{painelControleMBean.criterioSelecionado}" rendered="#{painelControleMBean.usuarioLogado.usuarioAdvogado}">
                    <f:selectItem itemValue="" itemLabel="Selecione"/>
                    <f:selectItems value="#{painelControleMBean.criterios}" var="criterio" itemLabel="#{criterio.nome}" itemValue="#{criterio}"/>
                    <p:ajax listener="#{painelControleMBean.buscarProcessos()}" update="@form" event="change"/>
                </p:selectOneMenu>
                <br/>
            </p:panelGrid>
            <p:fieldset legend="Processos">
                <h:panelGroup class="tabela">
                    <p:dataTable id="tableProc" class="tabelaProcessos" styleClass="ui-corner-all" value="#{painelControleMBean.processos}" 
                        var="proc" rowStyleClass="#{painelControleMBean.isAguardando(proc) ? 'aguardando' : null}">
                        <p:column filterBy="#{proc.juiz.nome}">
                            <h:outputText value="#{proc.juiz.nome}"/>
                        </p:column>
                        <p:column filterBy="#{proc.promovido.nome}">
                            <h:outputText value="#{proc.promovido.nome}"/>
                        </p:column>
                        <p:column filterBy="#{proc.promovente.nome}">
                            <h:outputText value="#{proc.promovente.nome}"/>
                        </p:column>
                        <p:column rendered="#{painelControleMBean.usuarioLogado.usuarioAdvogado}">
                            <h:outputText value="#{proc.qualParte(painelControleMBean.usuarioLogado.id)}"/>
                        </p:column>
                        <p:column>
                            <p:commandButton action="#{painelControleMBean.abrirDialogFases()}" update=":form:consultarFasesDialog" oncomplete="PF('modalConsultarFases').show()" process="@this" title="Consultar Fases">
                                <f:setPropertyActionListener value="#{proc}" target="#{painelControleMBean.processoSelecionado}" />
                            </p:commandButton>
                        </p:column>
                        <p:column rendered="#{proc.encerrado == 'Y'}">
                            <h:outputText value="#{proc.vencedor.nome}"/>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
            </p:fieldset>
        </h:panelGroup>
        <ui:include id="stack" src="/menuStack.xhtml" />
        <ui:include id="consultarFasesDialog" src="/consultarFasesDialog.xhtml"/>
        <ui:include id="formFases" src="/criaFaseDialog.xhtml"/>
        <p:sidebar widgetVar="sidebar1" baseZIndex="10000">
                <h1 style="font-weight:normal">Left Sidebar</h1>
                <p:commandButton value="Cancel" oncomplete="PF('sidebar1').hide()"/>
            </p:sidebar>
    </h:form>
</ui:composition>

