/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/06/2020, 22:11:11
    Author     : guilh
*/

body{
    background-color: #A3FFF3;
}

.painelLogin{
    text-align: center;
    position:absolute;
    margin: 0 auto;
    width: 50%;
    left: 25%;
    top: 20%;
    padding-bottom: 100em;
    border-radius: 100000px;
    border: 2px solid #00CDB2;
    padding: 20px; 
}

.campos{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.conteudo{
    width: 100%;
    margin-top: 1em;
    align-content: center;
}

.botaoEntrar{
    border-radius: 100000px;
    border: 2px solid black;
    padding: 10px;
    background-color: red;
}

