/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/07/2020, 22:17:37
    Author     : guilh
*/

body{
    background-color: #A3FFF3;
}

.painel{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.tabelaProcessos{
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
    text-align: center;
    background-color: red;
}

.bemVindo{
    font-size: 30px;
    font-family: Times;
}

.aguardando{
    background-color: red;
}

.criterios{
    width: 30%;
    margin-left: 40%;
    position: fixed;
}

.tabela{
    padding: 0px 0px;
    border:0px none; 
    background-color: red;
}

.ui-datatable.ui-corner-all table {
    border-collapse: separate;
    *border-collapse: collapse; /* Fallback for IE <=7. */
    border-spacing: 0; 
    margin-top: 5em;
    align-content: center;
    text-align: center;
    background-color: green;
}
.ui-datatable.ui-corner-all table tr:first-child th:first-child {
    -moz-border-radius: 6px 0 0 0; 
    -webkit-border-radius: 6px 0 0 0; 
    border-radius: 6px 0 0 0;
}
.ui-datatable.ui-corner-all table tr:first-child th:last-child {
    -moz-border-radius: 0 6px 0 0; 
    -webkit-border-radius: 0 6px 0 0; 
    border-radius: 0 6px 0 0;
}
.ui-datatable.ui-corner-all table tr:first-child th:only-child{
    -moz-border-radius: 6px 6px 0 0; 
    -webkit-border-radius: 6px 6px 0 0; 
    border-radius: 6px 6px 0 0;
}
.ui-datatable.ui-corner-all table tbody td {
    border-top: 0;
    *border-top: inherit; /* Fallback for IE <=7. */
}
.ui-datatable.ui-corner-all table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px; 
    -webkit-border-radius: 0 0 0 6px; 
    border-radius: 0 0 0 6px;
}
.ui-datatable.ui-corner-all table tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0; 
    -webkit-border-radius: 0 0 6px 0; 
    border-radius: 0 0 6px 0;
}
.ui-datatable.ui-corner-all table tr:last-child td:only-child{
    -moz-border-radius: 0 0 6px 6px; 
    -webkit-border-radius: 0 0 6px 6px; 
    border-radius: 0 0 6px 6px;
}